WROOM/.vscode
WROOM/build
WROOM/sdkconfig
WROOM/sdkconfig.old
PIC/GPATH
PIC/GRTAGS
PIC/GTAGS
PIC/.vscode
PIC/.generated_files
PIC/build
PIC/dist/*/production
PIC32MK/PIC_Harmony
PIC32MK/firmware/PIC_MK_MotorDriver.X
WROOM/GPATH
WROOM/GRTAGS
WROOM/GTAGS
PCRobokey/bin
PCRobokey/obj
PCRobokey/.vs
PCController/.vs
PCController/bin
PCController/obj
OTA/.vscode
OTA/build
OTA/sdkconfig
OTA/sdkconfig.old
